<h1 class="photo_header">Contact Us</h1>
<!-- for form  place in the 2nd grid-->
<div class="container-fluid">
  <div class="row">
    <div id="left_margin" class="col-sm"></div>
    <div id="contact" class="col-sm">
      <div class="form">
				<form action="/thanks" method="POST">
	  			<div class="form-group">
				    <label for="name">Name</label>
				    <input type="text" name="name" class="form-control" id="name" placeholder="Name">
	 				</div>
	   			<div class="form-group">
				    <label for="phone">Phone</label>
				    <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone">
				  </div>
	  			<div class="form-group">
			    	<label for="exampleInputEmail1">Email address</label>
			    	<input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
			   	 <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			  	</div>
	  			<div class="form-group">
				    <label for="m_m_name">Mother's Maiden Name</label>
				    <input type="text" name="m_m_name" class="form-control" id="m_m_name" placeholder="Mother's Maiden Name">
			  	</div>
	 				<div>
				  	<label type="services" for="pengiuns">Services Requested</label>
							<select name="service">
								<option value="blank"></option>
								<option  value="Penguine_Dress">Penguine Dress Up</option>
								<option value="Pengiun_Awareness">Pengiun Awareness</option>
								<option value="Pengiun_Parties">Pengiun Parties</option>
								<option value="Penguin_Strip_Show">Penguin Strip Show</option>
							</select>
						</div>
	  				<div class="form-group">
					    <label for="message">Message</label>
					    <input type="message" name ="message"class="form-control" id="message">
					  </div>
					  <button id="button" type="submit" class="btn btn-secondary">Submit Request</button>
	   			</form>
	   		</div>
	  	</div>
	  <div id="right-margin" class="col-sm"></div>
	</div>
	<div id="row">
		<div id="modal">
		  <div id="modal_header">
		  	<span id="close">&times;</span>
		    <h2 id="join">Join the Pimpguin Players Club for Exclusive Offers and Info!</h2>
		  </div>
	    <input id="name" type="name" placeholder="Name">
	    <input id="email" type="email" placeholder="Email">
	    <button id="submit_ppp">Submit</button>
	    <h3 id="now">Join Now!</h3>
		</div>
	</div>
</div>

