
<!-- title for gallery page -->
  <div class="photo_header">
  <h1>Gallery</h1>
  <br>
  <h3>Find The Right Penguin For Your Event</h3>
  </div>

  <!-- grid for gallery page-->
  <div id="container-fluid">
    <div class="row">
      <div class="col-sm left_margin"></div>
      <div class="col-sm">
        <img class="images" src="images/PIMPGUIN.jpg" alt="">
        <ul>
        	<p id="p_name">Pimpguin</p>
        	<li>The Original Party Penguin</li>
        	<li>Well-Mannered, Excellent Conversationalist</li>
        	<li>Prefers Black Tie Events But Doesn't Mind the Club Scene</li>
      	</ul>
      </div>
      <div class="col-sm">
        <img class="images" src="images/adelie-penguin-jumping-ocean.jpg" alt="">
        <ul>
          <p id="p_name">Steve</p>
    			<li>Thrill Seeker</li>
    			<li>Genuinely Believes He Can Fly</li>
    			<li>Great for Campouts or Outdoor Excursions</li>
      	</ul>
      </div>
      <div class="col">
       <img class="images" src="images/Rockhopper_Penguin.jpg" alt="">
       	<ul>
       		<p id="p_name">Julio</p>
       		<li>Prefers a More Romantic Setting</li>
       		<li>Can Identify Over 400 Varities of Fine Wine</li>
       		<li>Schedule Your Next Date With Julio Today!</li>
     	 	</ul>
      </div>
       <div class="col-sm left_margin"></div>
    </div>
    <div class="row">
      <div class="col-sm left_margin"></div>
      <div class="col-sm">
        <img class="images" src="images/Yellow_Eyed_Penguin.jpg" alt="">
        <ul>
        	<p id="p_name">Doc</p>
        	<li>Holds a Ph.D in Peguinology</li>
        	<li>Fantastic Orator, Enjoys Adressing a Crowd</li>
        	<li>Book Doc for Conventions, Expos, or to Write Your Next Speech</li>
      	</ul>
      </div>
      <div class="col-sm">
        <img class="images" src="images/royal-penguin1.jpg" alt="">
        <ul>
        	<p id="p_name">Dude</p>
       		<li>LOVES to Party, No Matter the Venue</li>
       		<li>Holds the Pimpguins Record for Longest Kegstand</li>
       		<li>Jokester, Always Gets a Good Laugh</li>
        </ul>
      </div>
      <div class="col-sm">
        <img class="images" src="images/Adelie-Penguin-Photos.jpg" alt="">
        <ul>
        	<p id="p_name">George</p>
        	<li>Sweet, Sensitive Little Guy</li>
        	<li>Great Listener, Total Cuddlebug</li>
        	<li>Loves to Gossip, Book George for Girl's Nights and Breakups</li>
        </ul>
      </div>
       <div class="col-sm left_margin"></div>
  </div>
   <div class="row">
      <div class="col-sm left_margin"></div>
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <div id="reservations">
            <a class="btn btn-secondary" href="/contact">Reservations</a>
        </div>
      </div>
      <div class="col-sm">
      </div>
       <div class="col-sm left_margin"></div>
  </div>








