<div class="container">
  <div class="row">
    <div class="col-sm">
      <img class="images" src="images/PIMPGUIN.jpg" alt="">
    </div>
    <div class="col-sm">
      <img class="images" src="images/adelie-penguin-jumping-ocean.jpg" alt="">
    </div>
    <div class="col-sm">
      <img class="images" src="images/Yellow_Eyed_Penguin.jpg" alt="">
    </div>
  </div>
</div>