<!-- title for page -->
<div class="photo_header">
<h1>Gallery</h1>
<h3>Find the right pengiun for your event</h3>
</div>
<!-- grid for photo gallery -->
<div class="container">
  <div class="row">
    <div class="col-sm">
      <img class="images" src="images/PIMPGUIN.jpg" alt="">
      <p>name</p>
      <p>small bio</p>
    </div>
    <div class="col-sm">
      <img class="images" src="images/adelie-penguin-jumping-ocean.jpg" alt="">
        <p>name</p>
      <p>small bio</p>
    </div>
    <div class="col-sm">
     <img class="images" src="images/Rockhopper_Penguin.jpg" alt="">
     <p>name</p>
     <p>small bio</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <img class="images" src="images/Yellow_Eyed_Penguin.jpg" alt="">
      <p>name</p>
      <p>small bio</p>
    </div>
    <div class="col-sm">
      <img class="images" src="images/royal-penguin1.jpg" alt="">
      <p>name</p>
      <p>small bio</p>
    </div>
    <div class="col-sm">
      <img class="images" src="images/Adelie-Penguin-Photos.jpg" alt="">
      <p>name</p>
      <p>small bio</p>
    </div>
  </div>
</div>