<div class="home">
  <div class="slider_container">
    <div class="container-fluid logo">
      <div class="row">
        <div class="col"><img src="/images/logo.png"></div>
      </div>
    </div>
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="http://ichef.bbci.co.uk/wwfeatures/wm/live/1280_640/images/live/p0/4c/qr/p04cqr9z.jpg">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://animalsadda.com/wp-content/uploads/2013/04/Adelie-Penguin-4.jpg">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="http://experimentexchange.com/wp-content/uploads/2016/07/penguins-fact.jpg">
        </div>
      </div>
    </div>
    <div class="row about">
      <div class="col about_text">
        <h1>About Pimpguins</h1>
        <p>The purpose of our site is to raise awareness of pengiuns needs. We do that by offering our services. All procceds go directly to helping the pengiuns maintain their natural habitat. </p>
      </div>
    </div>
     <div class="row home_button">
      <div class="col"><a href="/about"><button type="button" class="btn btn-dark">Learn More</button></a></div>
    </div>
    <div class="row text">
      <div class="col">
      <h1>Services</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus iste similique quia eum consequatur magnam earum totam saepe quasi perspiciatis minima nobis asperiores debitis quis, nesciunt amet laborum itaque maiores!</p>
      </div>
    </div>
    <div class="row services">
      <div class="col-3">
        <div class="card card_home" style="width: 20rem;">
          <img class="card-img-top home_card" src="/images/lecture.png">
          <div class="card-body">
            <h3 class="card-text">Penguin Awareness</h3>
            <p>Invite us to speak on the magisty of the magestical penguin. These creatures deserve our worship and respect. Our lectures are for all ages, and will educate you to the salvation the mighty penguin provides.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card card_home" style="width: 20rem;">
          <img class="card-img-top home_card" src="/images/party.png">
          <div class="card-body">
            <h3 class="card-text">Penguin Parties</h3>
            <p>Cuddle the Penguins! Our Penguins are lovely to pet, and will speak words of eternal truth into your soul. All hail the mighty Penguin.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card card_home" style="width: 20rem;">
          <img class="card-img-top home_card" src="/images/dress_up.png">
          <div class="card-body">
            <h3 class="card-text">Penguin Dress Up</h3>
            <p>Play Dress up with a Penguin! Our Penguins have wonderful fashion sense. The mighty Penguin knows all.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card card_home" style="width: 20rem;">
          <img class="card-img-top home_card" src="/images/stripper.png">
          <div class="card-body">
            <h3 class="card-text">Penguin Strip Show</h3>
            <p>Hire our wonderfully trained Penguin strippers for your next Bachelor/Bachelorette party! Watch their mezmorizing dance. Give into the mighty Penguin.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row home_button">
      <div class="col"><a href="/services"><button type="button" class="btn btn-dark">Learn More</button></a></div>
    </div>
    <div class="row parallax">
      <div class="col">
      </div>
    </div>
    <div class="row layer">
      <div class="col"></div>
    </div>
    <div class="row contact_us">
      <div class="col">
        <h1>Contact Us</h1>
        <p>For more information and to place an order of our services please contact us at:</p>
        <p>1-800-PENGUINS</p>
      </div>
    </div>
    <div class="row home_button contact_button">
      <div class="col"><a href="/services"><button type="button" class="btn btn-dark">Learn More</button></a></div>
    </div>
  </div><!-- container -->
</div>