<!-- for services.erb -->
<h1 class="photo_header">Services</h1>

<div class="container-fliud">
  <div class="row">
    <div class="col-sm">
      <div class="card card_services" style="width: 20rem;">
        <img class="services" src="images/dress_up.png" alt="">
      <div class="card-body">
        <h4 class="card-title">Penguin Dress Up</h4>
        <p class="card-text">Play Dress up with a Penguin! Our Penguins have wonderful fashion sense. The Mighty Penguin knows all.</p>
      <div id="button">
        <button class="add btn btn-secondary">Add</button><button class="remove btn btn-secondary">Remove</button>
       </div>
      </div>
      </div>
    </div>
    <div class="col-sm spacing_top">
      <div class="card card_services" style="width: 20rem;">
        <img class="services" src="images/lecture.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Penguin Awareness</h4>
          <p class="card-text">Invite us to speak on the magisty of the magestical penguin. These creatures deserve our worship and respect. Our lectures are for all ages, and will educate you to the savation the mighty penguin provides.</p>
        <div id="button">
          <button class="add_one btn btn-secondary">Add</button><button class="remove btn btn-secondary">Remove</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm spacing">
    <div class="card card_services" style="width: 20rem;">
        <img class="services" src="images/party.png" alt="">
      <div class="card-body">
        <h4 class="card-title">Pengiun Parties</h4>
        <p class="card-text">Cuddle the Penguins! Our Penguins are lovely to pet, and will speak words of eternal truth into your soul. All hail the mighty Penguine.</p>
        <div id="button">
         <button class="add_two btn btn-secondary">Add</button><button class="remove btn btn-secondary">Remove</button>
        </div>
      </div>
    </div>
  </div>
    <div class="col-sm spacing">
      <div class="card card_services" style="width: 20rem;">
        <img class="services" src="images/stripper.png" alt="">
      <div class="card-body">
        <h4 class="card-title">Penguin Strip Show</h4>
        <p class="card-text">Hire Our Wonderfully Trained Penguin Strippers for your next Bachelor/Bachelorette Party! Watch their mezmorizing dance. Give into the Mighty Penguin.</p>
          <div id="button">
            <button class="add_three btn btn-secondary">Add</button><button class="remove btn btn-secondary">Remove</button>
          </div>
        </div>
      </div>
     </div>
  </div>
<!-- END OF ROW -->