<!-- for services.erb -->
<div class="photo_header">
<h1>Services</h1>
<br>
<h4>Our Penguin overlords have provide the following services, in order to train the public in the way of the Penguin.</h4>
<h4>These services will aide in the salvation of our peoples.</h4>
</div>
<div class="container-fliud">
  <div class="row">
    <div class="col-sm">
      <div class="card card_services" style="width: 20rem;">
        <img class="services" src="images/dress_up_blue.png" alt="">
      <div class="card-body">
        <h4 class="card-title">Penguin Dress Up</h4>
        <p class="card-text">Play Dress up with a Penguin! Our Penguins have wonderful fashion sense. The Mighty Penguin knows all.</p>
        <p>$900</p>
      <div id="button">
        <button id="service_1" class="btn btn-secondary">Add to Cart</button>
        <button id="r_service_1" class="btn btn-secondary">Remove from Cart</button>
       </div>
      </div>
      </div>
    </div>
    <div class="col-sm spacing_top">
      <div class="card card_services" style="width: 20rem;">
        <img class="services" src="images/lecture_blue.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Penguin Awareness</h4>
          <p class="card-text">Invite us to speak on the magisty of the magestical penguin. These creatures deserve our worship and respect. Our lectures are for all ages, and will educate you to the savation the mighty penguin provides.</p>
          <p>$300</p>
        <div id="button">
          <button id="service_2" class="btn btn-secondary">Add to Cart</button>
          <button id="r_service_2" class="btn btn-secondary">Remove from Cart</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm spacing">
    <div class="card card_services" style="width: 20rem;">
        <img class="services" src="images/party_blue.png" alt="">
      <div class="card-body">
        <h4 class="card-title">Pengiun Parties</h4>
<<<<<<< HEAD
        <p class="card-text">Cuddle the Penguins! Our Penguins are lovely to pet, and will speak words of eternal truth into your soul. All hail the mighty Penguine.</p>
        <p>$700</p>
=======
        <p class="card-text">Cuddle the Penguins! Our Penguins are lovely to pet, and will speak words of eternal truth into your soul. All hail the mighty Penguin.</p>
>>>>>>> df2b4c84548d874f03facd1e45196de4ab07e543
        <div id="button">
          <button id="service_3" class="btn btn-secondary">Add to Cart</button>
          <button id="r_service_3" class="btn btn-secondary">Remove from Cart</button>
         </div>
      </div>
    </div>
  </div>
    <div class="col-sm spacing">
      <div class="card card_services" style="width: 20rem;">
        <img class="services" src="images/stripper_blue.png" alt="">
      <div class="card-body">
        <h4 class="card-title">Penguin Strip Show</h4>
        <p class="card-text">Hire our wonderfully trained Penguine strippers for your next Bachelor/Bachelorette party! Watch their mezmorizing dance. Give into the mighty Penguine.</p>
        <p>$10,000</p>
          <div id="button">
            <button id="service_4" class="btn btn-secondary">Add to Cart</button>
            <button id="r_service_4" class="btn btn-secondary">Remove from Cart</button>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>
<!-- END OF ROW -->
