<!-- for services.erb -->
<h1 class="photo_header">Services</h1>

<div class="container-fliud">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img class="services" src="images/dress_up.png" alt="">
      <div class="card-body">
        <h4 class="card-title">Dress Up</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div id="button">
        <button class="add">add</button>
        <button class="remove">remove</button>
       </div>
      </div>
      </div>
    </div>
    <div class="col-sm spacing_top">
      <div class="card" style="width: 20rem;">
        <img class="services" src="images/lecture.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Pengiun Awareness</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div id="button">
          <button class="add">add</button>
          <button class="remove">remove</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm spacing">
    <div class="card" style="width: 20rem;">
        <img class="services" src="images/party.png" alt="">
      <div class="card-body">
        <h4 class="card-title">Party</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div id="button">
        <button class="add">add</button>
        <button class="remove">remove</button>
       </div>
      </div>
    </div>
  </div>
    <div class="col-sm spacing">
      <div class="card" style="width: 20rem;">
        <img class="services" src="images/stripper.png" alt="">
      <div class="card-body">
        <h4 class="card-title">Stripper</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div id="button">
          <button class="add">add</button>
          <button class="remove">remove</button>
        </div>
        </div>
      </div>
     </div>
<!-- END OF ROW -->
  </div>
  <div class="row">
    <div class="col-sm spacing"></div>
    <div class="col-sm spacing">
      list of services added
      <div id="shopping"></div>
      <div id="shopping_two"></div>
      <div id="shopping_three"></div>
      <div id="shopping_four"></div>
    </div>
    <div class="col-sm spacing">
      <div id="cost"></div>
        cost
    </div>
    <div class="col-sm spacing"></div>
    <div class="col-sm spacing"></div>
    </div>
  </div>
</div>