<!-- for services.erb -->
<div class="photo_header">
<h1>Services</h1>
<br>
<h4>Our Penguin Overlords have allowed us to provide the following services, in order to train the masses in the Way of the Penguin.</h4>
<h4>These services will aide in the preservation of penguins and their native lands.</h4>
</div>
<div class="container-fliud">
  <div class="row">
    <div class="col-sm">
      <div class="card card_services" style="width: 20rem;">
        <img class="services" src="images/dress_up_blue.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Penguin Dress Up</h4>
          <p class="card-text">Play Dress Up with a Penguin! Our Penguins have wonderful fashion sense. The Mighty Penguin knows all.</p>
          <p>$900</p>
        </div>
      </div>
    </div>
    <div class="col-sm spacing_top">
      <div class="card card_services" style="width: 20rem;">
        <img class="services" src="images/lecture_blue.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Penguin Awareness</h4>
          <p class="card-text">Invite us to speak on the fortitude and wisdom of the magestic Penguin. These creatures deserve our worship and respect. Our lectures are for all ages, and will educate you to the savation the mighty Penguin provides.</p>
          <p>$300</p>
        </div>
      </div>
    </div>
    <div class="col-sm spacing">
      <div class="card card_services" style="width: 20rem;">
        <img class="services" src="images/party_blue.png" alt=""
        <div class="card-body">
          <h4 class="card-title">Pengiun Parties</h4>
          <p class="card-text">Cuddle the Penguins! Our Penguins are lovely to pet, and will speak words of eternal truth into your soul. All hail the mighty Penguin.</p>
          <p>$700</p>
        </div>
    </div>
  </div>
    <div class="col-sm spacing">
      <div class="card card_services" style="width: 20rem;">
        <img class="services" src="images/stripper_blue.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Penguin Strip Show</h4>
          <p class="card-text">Hire our wonderfully trained Penguin strippers for your next Bachelor/Bachelorette party! Watch their mezmorizing dance. Give in to the mighty Penguin.</p>
          <p>$10,000</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END OF ROW -->
