<!-- for services.erb -->
<h1 class="photo_header">Services</h1>

<div class="container-fliud">
  <div class="row">
    <div class="col-sm">
      <div class="card card_services" style="width: 20rem;">
        <img class="services" src="images/dress_up.png" alt="">
      <div class="card-body">
        <h4 class="card-title">Penguine Dress Up</h4>
        <p class="card-text">Play Dress up with a Penguine! Our Penguines have wonderful fashion sense. The mighty Penguine knows all.</p>
      <div id="button">
        <button class="add">add</button>
        <button class="remove">remove</button>
       </div>
      </div>
      </div>
    </div>
    <div class="col-sm spacing_top">
      <div class="card card_services" style="width: 20rem;">
        <img class="services" src="images/lecture.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Pengiun Awareness</h4>
          <p class="card-text">Invite us to speak on the magisty of the magestical penguine. These creatures deserve our worship and respect. Our lectures are for all ages, and will educate you to the savation the mighty penguine provides.</p>
        <div id="button">
          <button class="add_one">add</button>
          <button class="remove">remove</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm spacing">
    <div class="card card_services" style="width: 20rem;">
        <img class="services" src="images/party.png" alt="">
      <div class="card-body">
        <h4 class="card-title">Pengiun Parties</h4>
        <p class="card-text">Cuddle the Penguines! Our Penguines are lovely to pet, and will speak words of eternal truth into your soul. All hail the mighty Penguine.</p>
        <div id="button">
          <button class="add_two">add</button>
          <button class="remove">remove</button>
         </div>
      </div>
    </div>
  </div>
    <div class="col-sm spacing">
      <div class="card card_services" style="width: 20rem;">
        <img class="services" src="images/stripper.png" alt="">
      <div class="card-body">
        <h4 class="card-title">Penguine Strip Show</h4>
        <p class="card-text">SHire our wonderfully trained Penguine strippers for your next Bachelor/Bachelorette party! Watch their mezmorizing dance. Give into the mighty Penguine.</p>
          <div id="button">
            <button class="add_three">add</button>
            <button class="remove">remove</button>
          </div>
        </div>
      </div>
     </div>
  </div>
<!-- END OF ROW -->
  <div class="row">
    <div class="col-sm spacing"></div>
    <div class="col-sm spacing">
      list of services added
      <div id="shopping"></div>
      <div id="shopping_two"></div>
      <div id="shopping_three"></div>
      <div id="shopping_four"></div>
    </div>
    <div class="col-sm spacing">
      <div id="cost"></div>
        Estimated cost
        <div id="estimate"></div>
      </div>
    <div class="col-sm spacing"></div>
    <div class="col-sm spacing"></div>
    </div>
  </div>
</div>