<!-- for services.erb -->
<h1 class="photo_header">Services</h1>

<div class="container-fliud">
    <div class="row">
    <div class="col-sm spacing_top">
      services offered with details
      <br>
      <button class="add">add</button>
      <button class="remove">remove</button>
    </div>
    <div class="col-sm spacing_top">
     services offered with details
     <br>
      <button class="add_one">add</button>
      <button class="remove_one">remove</button>
    </div>
    <div class="col-sm spacing">
      services offered with details
      <br>
      <button class="add_two">add</button>
      <button class="remove_two">remove</button>
    </div>
    <div class="col-sm spacing">
      services offered with details
      <br>
      <button class="add_three">add</button>
      <button class="remove_three">remove</button>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-sm spacing">
      list of services added
      <div id="shopping"></div>
      <div id="shopping_two"></div>
      <div id="shopping_three"></div>
      <div id="shopping_four"></div>
    </div>
    <div class="col-sm spacing">
      displays services requested
    </div>
    <div class="col-sm spacing">
      cost
      <div id="cost"></div>
    </div>
  </div>
</div>