<h1 class="photo_header">Shopping Cart</h1>

<div id="cart" class="container-fluid shopping_cart">
  <div class="row">
    <div class="col-8 service">Penguin Dress Up</div>
    <div class="col count"><input value="0" class="count" id="service_1" type="text"/>
      <button class="counter" id="services_1">+</button>
      <button class="counter" id="r_services_1">-</button>
      <input value="0" type="text" id="services_1_cost" class="cost">
      </div>
  </div>
  <div class="row">
    <div class="col-8 service">Penguin Awareness</div>
    <div class="col count"><input value="0" class="count" id="service_2" type="text"/>
      <button class="counter" id="services_2">+</button>
      <button class="counter" id="r_services_2">-</button>
      <input value="0" type="text" id="services_2_cost" class="cost">
      </div>
  </div>
  <div class="row">
    <div class="col-8 service">Penguin Parties</div>
    <div class="col"><input value="0" class="count" id="service_3" type="text"/>
      <button class="counter" id="services_3">+</button>
      <button class="counter" id="r_services_3">-</button>
      <input value="0" type="text" id="services_3_cost" class="cost">
    </div>
  </div>
  <div class="row">
    <div class="col-8 service">Penguin Dress Up</div>
    <div class="col count"><input value="0" class="count" id="service_4" type="text"/>
      <button class="counter" id="services_4">+</button>
      <button class="counter" id="r_services_4">-</button>
      <input value="0" type="text" id="services_4_cost" class="cost">
      </div>
  </div>
</div> <!-- container -->




<div id="cost"></div>
  Estimated cost
<div id="estimate"></div>
  