/*******************Layout**********************/

html, body {
  height: 100%;
  margin: 0;
}
  
nav {
	position: fixed;
	width: 100%;
	background-color: rgb(198, 200, 201);
	z-index: 2;
	top: 0;
}

nav ul {
	float: right;
	padding: 15px;
}

nav img {
	float: left;
	height: 50px;
	margin: 10px
}

.wrapper {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
  margin-top: 70px;
}

footer, .push {
  height: 50px;
  width: 100%;
  position: fixed;
}

footer {
	  background-color: rgb(240, 240, 241);
}

/********************Home**********************/

.carousel-inner {
	height: 600px;
}

.logo {
	position: absolute;
	line-height: 600px;
	height: 600px;
}

.logo img {
	height: 100px;
}

/**********css for gallery.erb***********/

.images {
	height: 300px;
	width: 300px;
	/*border: ridge;
	border-width: 10px;*/
	/*border-color: rgb(42, 90,135);*/
	border-radius: 15%;
	box-shadow: 10px 10px 5px #6693B2;
	margin-bottom: 8%
}

.photo_header {
	text-align: center;
	margin-bottom: 4%;
	margin-top: 8%;
}

.left-margin {
	width: 50px;
}

/*********************css for form****************/
#contact {
	height: 400px;
	width: 400px;
}

/******************css for thanks page***************/
#thanks {
	display: block;
	text-align: center;
	margin-top: 10%;
}