/*******************Layout**********************/

html, body {
  height: 100%;
  margin: 0;
  font-family: Futura;
}
  
nav {
	position: fixed;
	width: 100%;
	background-color: rgb(198, 200, 201);
	z-index: 2;
	top: 0;
}

nav ul {
	float: right;
	padding: 15px;
}

#logo_nav {
	float: left;
	height: 50px;
	margin: 10px
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
  margin-top: 70px;
}

footer, .push {
  height: 50px;
  width: 100%;
  z-index: 3;
}

footer {
	  background-color: rgb(240, 240, 241);
}

#cart_icon {    
	float: left;
  margin: 10px;
  height: 30px;
  position: relative;
  top: -12px;

}

/********************Home**********************/

.home {
	height: 2000px;
	overflow: hidden;
}

.carousel-inner {
	height: 600px;
}

.logo {
	position: absolute;
	line-height: 600px;
	height: 600px;
  background-color: rgb(23, 90, 139);
  top: 70px;
  opacity: 0.5;
  z-index: 1;
  text-align: center;
}

.logo img {
	height: 400px;
}

/*about section*/

.about {
	text-align: center;
	height: 200px;
}

.about_text {
	margin: 50px 50px;
}
.about h1 {
	margin-bottom: 30px;
}

/*services section*/

.layer {
	height: 750px;
	background-color: rgb(23, 90, 139);
	opacity: 0.9;
	position: relative;
	top: -1500px;
	z-index: -1;
}

.parallax {
	height: 750px;
	text-align: center;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	position: relative;
	top: -750px;
	z-index: -2;

	background-image: url("https://i.pinimg.com/originals/49/e5/a0/49e5a0439bf7b52cd8f8546ec800ac5f.jpg");
	background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
	height: 200px;
	position: relative;
	padding-top: 40px;
	text-align: center;
	color: white;
}

.text h1 {
	margin-top: 50px;
	margin-bottom: 30px
}

.text p {
	margin: 0px 50px 50px 50px;
}

.services {
	margin-top: 80px;
}

.card_home {
	background: transparent;
	border: none;
	color: white;
	text-align: center;
}

.card_home img{
	height: 200px;
	width: 200px;
}
.home_card {
	margin: 0 auto;
}

.home_button {
	text-align: center;
	margin-bottom: 20px;
}

/*contact us*/
.contact_us {
	position: relative;
	top: -1430px;
	text-align: center;
}
.contact_button {
	position: relative;
	top: -1420px;
}

/**********css for about.erb***********/
.about_page {
	height: 400px;
}

.about_logo {
	text-align: center;
}

/*.color {
	background-color: #175A8B;
}*/

.topic {
	margin-top: 5%;
	width: 500px;
}

/**********css for gallery.erb***********/

.images {
	height: 300px;
	width: 300px;
	border-radius: 15%;
	box-shadow: 10px 10px 5px #6693B2;
	margin-bottom: 8%
}

.photo_header {
	text-align: center;
	margin-bottom: 4%;
	margin-top: 8%;
}

.left-margin {
	width: 50px;
}

#p_name {
	text-decoration: underline;
	font-weight: bold;
}

.reservations {
	margin-top: 18%;
	text-align: center;
}

/**********css for services.erb***********/

.spacing_top {
	height: auto;
	width: auto;
}

.spacing {
	height: 200px;
	width: 400px;
}

#sample {
	background: green;
}

.card_services {
	border: none;
}

.remove {
	margin-left: 5px;
}

.services {
	margin: 0 auto;
}

/*********************css for form****************/
#contact {
	height:auto;
	width: auto;
}

#message {
	height: 100px;
	width: 436px;
}

.button {
	float: right;
}

/******************css for thanks page***************/
#thanks {
	display: block;
	text-align: center;
	margin-top: 10%;
}

/********************Shopping Cart*******************/
.shopping_cart {
	background-color: pink;
	float: left;
	border-right: 2px solid grey;
	z-index: -1;
}

.count {
	width: 30px;
}

.service {
	border: 1px solid grey;
	background-color: rgb(240, 240, 241);
}